.container {
	width: 100%; 
	border: 2px solid #000000;
}

header, footer {
	padding: 0.5em;
	color: white; 
	background-color: black; 
	clear: left;
	text-align: center;
	font-style: italic;
	font-family: Georgia Header;
}

.image {
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    webkit-animation:spin 4s linear infinite;
    moz-animation:spin 4s linear infinite;
    animation:spin 8s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.image1 {
	width: 650px;
	height: 230px;
	margin-left: 5em;
	border: 2px solid #000000;
}

.image1:hover {
	webkit-transform: scale(1.2);
    ms-transform: scale(1.2);
    transform: scale(1.2);
	margin-left:10em;
	border: 2px solid #000000;
}

.image2 {
	float: right;
    width: 365px;
    height: 230px;
	margin-left: 5em;
	border: 2px solid #000000;
}

.image3 {
	float: right;
    width: 365px;
    height: 360px;
	margin-left: 5em;
	border: 2px solid #000000;
}

.imageDescription {
	float: right;
    width: 700px;
    height: 500px;
	margin-left: 5em;
	margin-right: 0.5em;
	border: 1px solid #000000;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #808080;
	line-height: 50px;
	height: 59px;
	border: 1px solid #000000;
}
.active {
background-color: #C0C0C0;
}

li {
	float: left;
	border-right: 1px solid #000000;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 5px 50px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #C0C0C0;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #808080;
    min-width: 306px;
    z-index: 1;
	border: 1px solid #000000;
}

.dropdown-content a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
	border: 1px solid #000000;
}

.dropdown-content a:hover {
	background-color: #000000;
	}

.dropdown:hover .dropdown-content {
    display: block;
}

aside {
	height: 600px;
	background-color: #C0C0C0;
	border: 0.5px solid #000000;
	padding: 5px;
}
.homeaside {
	height: 850px;
	background-color: #C0C0C0;
	border: 1px solid #000000;
	padding: 5px;
}

.AboutCiphersAside {
	height: 1200px;
	background-color: #C0C0C0;
	border: 1px solid #000000;
	padding: 5px;
}

button {
	background-color: white;
	color: black;
	font-size: 20px;
	border: 2px solid #555555;
}
button:hover {
	background-color: #555555;
	color: white;
}

#text{
	text-align: left;
	font-family: sans-serif;
	line-height: 1,5;
	letter-spacing: 1px;
}


h2{
	text-align: left;
	font-style: bold;
	font-family: Georgia Header;
}

#OriginalMessage {
	height: 15em;
	width: 50em;
	margin: 5px;
}

#EncipheredMessage {
	height: 15em;
	width: 50em;
	margin: 5px;
}

input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
}

#subject {
	 height:130px;
}